.games {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerCategory {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.headerCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #ffffff0d;
  padding: 10px;
  border-radius: 10px;
}

.headerCategory div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerCategory div p {
  font-weight: 600;
}

.headerCategory div .seeAll {
  all: unset;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.headerCategory div .seeAll:hover {
  transform: scale(1.1);
}

.headerCategory div .counter {
  font-size: 12px;
  font-weight: 700;
  background-color: #414141;
  padding: 1px 6px;
  border-radius: 4px;
}

.headerCategory img {
  object-fit: contain;
}

.listGames {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: hidden;
}
.scrollGames {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  overflow-x: auto;
  gap: 16px;
  padding: 0 0 10px 0;
  overscroll-behavior-inline: contain;
}

.scrollGames::-webkit-scrollbar {
  height: 6px;
}

.scrollGames::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: 10px;
}

.scrollGames img,
.listGames img {
  width: 166px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.scrollGames img:hover {
  transform: scale(1.01);
}

@media (max-width: 768px) {
  .listGames {
    justify-content: center;
  }
}
